@charset "utf-8";
/*******************************************************************

				Affects everything
					
***************************************************************************/

body {
	/*top, bottom & right, left*/
	margin: 0px 0px;
	overflow-x: hidden;
}
	
nav li {
	font-family: "Baskerville";
	font-size: 24px;
}

p {
	font-family: "Baskerville";
} 

/*******************************************************************

					Heading
					
***************************************************************************/ 
header {
	width: auto;
	height: 70%;
	background-color: #f16a38;
		
}
	@media (min-width: 1318px) { 
		header { 
			display: flex; 
			justify-content: center;
		}
	}
	@media (max-width: 1318px) { 
		header { 
			display: flex;
			flex-direction: column;
			align-content: center;
			flex-wrap: wrap;
			align-items: center;
		} 
		img.siteLogo, nav { 
			position: relative;
			left: 4%;
			
		}
	}
	
img.siteLogo { 
	width: 85px;
	height: auto;
	/*top bottom, right left*/
	margin: 0% 4%;
}
nav {
	display: flex;
    justify-content: center;
    align-items: center;
}
	nav li { 
		list-style-type: none;
		float: left;
		margin-right: 56px;
	}
	nav a {
		color: white;
		text-decoration: none;
	}

@media (max-width: 750px) { 
		img.siteLogo, nav { 
			align-content: center;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
		}
	}

/*page indicator*/
.about a {
	position: relative;
}
.about a:after{ 
	content: "";
	display: block;
	height: 7px;
	width: 58px;
	background-color: #af4e00;
	border-radius: 30px;
	position: relative; 
	left: 14px;
}

/*******************************************************************

					Main
					
***************************************************************************/ 
	@media (min-width: 1103px) { 
		main p { 
			display: flex; 
			align-content: center;
			flex-wrap: wrap;			
			font-size: 27px; 
		} 
		.top { 
			display: flex;
			justify-content: center;
		} 
		.bottom { 
			display: flex; 
			flex-direction: row-reverse;
		}
	}
	@media (max-width: 1103px) { 
		.top, .bottom { 
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
		}
			
		.top p { 
			width: 341px;
		} 
		.bottom p { 
			width: 311px;
		} 
	} 
	
	main { 
		/*top bottom, right left*/
		margin: 44px 170px;
	} 
		
	.top { 
		margin-bottom: 50px;
	} 
		.top img { 
			width: 325px;
			height: auto; 
			padding-right: 20px; 
		} 
	.bottom img { 
		width: 381px;
		height: auto;
		/*object-fit: cover;*/
		padding-left: 20px;
	}

/*******************************************************************

				footer 
					
***************************************************************************/ 
@media (min-width: 750px) { 
	footer {	  
		position: fixed; 
	} 
} 
@media (max-width: 750px) { 
	footer {	  
		position: relative; 
	} 
} 
footer { 
	bottom: 0px;
	left: 0;
	right: 0;
} 

footer p { 
	filter: contrast(20%);
	padding-top: 20px;
	font-size: 16px;
	text-align: center;
}