@charset "utf-8";
/*******************************************************************

				Affects everything
					
***************************************************************************/

body {
	/*top, bottom & right, left*/
	margin: 0px 0px;
	overflow-x: hidden;
}
	
nav li {
	font-family: "Baskerville";
	font-size: 24px;
}

p, h1, h2, form, .submitbut {
	font-family: "Baskerville";
} 

/*******************************************************************

					Heading
					
***************************************************************************/ 
header {
	width: auto;
	height: 70%;
	background-color: #f16a38;
		
}
	@media (min-width: 1318px) { 
		header { 
			display: flex; 
			justify-content: center;
		}
	}
	@media (max-width: 1318px) { 
		header { 
			display: flex;
			flex-direction: column;
			align-content: center;
			flex-wrap: wrap;
			align-items: center;
		} 
		img.siteLogo, nav { 
			position: relative;
			left: 4%;
			
		}
	}
	
img.siteLogo { 
	width: 85px;
	height: auto;
	/*top bottom, right left*/
	margin: 0% 4%;
}
nav {
	display: flex;
    justify-content: center;
    align-items: center;
}
	nav li { 
		list-style-type: none;
		float: left;
		margin-right: 56px;
	}
	nav a {
		color: white;
		text-decoration: none;
	}

@media (max-width: 750px) { 
		img.siteLogo, nav { 
			align-content: center;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
		}
	}

/*page indicator*/
.contact a {
	position: relative;
}
.contact a:after{ 
	content: "";
	display: block;
	height: 9px;
	width: 73px;
	background-color: #af4e00;
	border-radius: 30px;
	position: relative;
	left: 12px;
}

/*******************************************************************

					Main
					
***************************************************************************/ 
	.headings { 
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			flex-direction: column;
			position: relative; 
			right: 62px;
			padding-top: 20px;
		} 
		.headings h1 { 
			margin-bottom: 5px; 
		}
		.headings h2 { 
			margin-top: 0px; 
			margin-bottom: 0px;
		}
 
	form { 
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin: auto;
		
		background-color: #f9a84b;
		background-clip: padding-box;
		/*top bottom, right left*/
		padding: 30px 38px;
		width: min-content;
		color: black;
		border-radius: 1px;
	}
			
		.userInfo, .bubbles p, .messageDiv label { 
			font-size: 20px;
		} 
		.userInfo label, .messageDiv label{ 
			position: relative;
			left: -5px;
			padding-bottom: 2px;
		}
		
		.fnameAndlname { 
			display: flex;
			column-gap: 50px;
		} 
			.fnameLabAndBox { 
				display: flex;
				flex-direction: column;align-items: flex-start;
			}
			.lnameLabAndBox { 
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				flex-wrap: wrap;
				align-content: flex-end;
			} 
		.emailLabAndBox { 
			display: flex;
			justify-content: center;
			flex-direction: column;
		} 
		.bubbles { 
			margin-top: 13px;
			margin-bottom: 33px;
		}
			.bubbles p { 
				margin-bottom: 2px;
				margin-top: 0px;
			}
		.messageDiv textarea { 
			width: 100%; 
			height: 78px;
			margin-bottom: 10px;
		}
		.messageDiv input { 
			width: 66px; 
			height: 27px; 
			font-size: 17px;
		}
		.submitbut, .messageDiv textarea, .userInfo input { 
			color: black;
			background-color: white;
			border: 0px solid white;
			border-radius: 3px;
			}
			.bubbleOpt input:after { 
				position: relative;
				content: '';
				width: 15px;
				height: 15px;
				display: inline-block;
				
				color: black;background-color: white;border: 2px solid gray;
				border-radius: 3px;

			}
		
		
	
/*******************************************************************

				footer 
					
***************************************************************************/ 
footer { 
	position: fixed; 
	bottom: 0px;
	left: 0;
	right: 0;
} 

footer p { 
	filter: contrast(20%);
	padding-top: 20px;
	font-size: 16px;
	text-align: center;
}